<!-- Success Modal -->
{%load static%}

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md  modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-body py-0">
  
          
          <div class="d-block main-content">
            <img src="{% static 'img/undraw_online_wishes_dlmr.svg' %}" alt="Image" class="img-fluid" style="background-color: #b2fcff;">
            <div class="content-text p-4">
              
              <h3 class="mb-4">تم التسجيل بنجاح</h3>
              <p class="mb-4">قم بدعوة صديقك واحصل علي بونص ترحيبي  لمدة شهر</p>
              <div class="d-flex">
  
           
                <div class="ml-auto"> 
                  <a href="#" class=" main-button px-4 " data-bs-dismiss="modal">لا شكرا</a>
                  <a href="#" class="btn btn-info  px-4">دعوة صديق</a>
                </div>
                <!--
                <form id="reservation-form" name="gs" method="submit" role="search" action="#" >
                <fieldset>
                  
                    <input name="email" class="email-fr" id="email-frind" aria-label="Default select example" onChange="this.form.click()" placeholder="بريد صديقك">
                        
                </fieldset>
                </form>
  
                -->
              </div>
            </div>
          </div>
  
        </div>
      </div>
      </div>