
  @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
body{
    font-family: 'Almarai', sans-serif;
    background-image: url(../img/back.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}
.apple-img{

    width: 10%;
  
}

/*--------------------------------------------*/
/*mark-lead page 
*/



  