{% extends 'lp_base.html' %}
{% load static %}


 {% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><img class="img-logo" src="{% static 'img/flagedu-ligo.webp' %}"></a></h1>

      </div>

      

    </div>
  </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'img/hero.webp' %}" class="img-fluid animated" alt="">
        </div>


        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center p-3">
          <div data-aos="zoom-out text-center">
            <h1> احصل علي الوسيط المناسب لتداولك <span>  بدون عناء البحث  </span></h1>
            <h2></h2>

           

            <div class="text-center  col-6">
              <a href="#about" class="btn-get-started scrollto text-center m-4">انضم الينا</a>
            </div>

            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="البريد الالكتروني" required>
            </div>
          </div>
        </div>


      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
            <h3> الاسهم</h3>
            <p> تابع تحركات الاسهم خطوة بخطوة وتعرف في افضل الاسم المناسبة للإستثمار مع تحليل شامل لأداء  الاسهم</p>
            <div class="icon-box" data-aos="zoom-in">
              <div class="icon"><i class="bi-building"></i></div>
              <h4 class="title"><a href="">الوسطاء</a></h4>
              <p class="description">  مراجعات شاملة لأفضل شركات التداول  في الوطن العربي والشرق الاوسط والعالم  </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bi-book-fill"></i></div>
              <h4 class="title"><a href="">تعليم </a></h4>
              <p class="description">احصل علي مجموعة متكاملة من المقالات التعلمية والفديوهات التي تحولك من مبتدء الي محترف </p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bi-newspaper"></i></div>
              <h4 class="title"><a href="">الاخبار</a></h4>
              <p class="description">  تابع التطورات  والمستجدات الاقتصادية وحركات الاسهم والعملات والسلع والمعادن النفيسة اولًا بأول   </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" >
          <h2>المزيد</h2>
          <p>تابع مع فلاجيدو</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4  m-1">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="50">
              <i class="bi bi-pen col-3 " ></i>
              <h3 class="col-7 "><a href="">الاسهم</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4   m-1">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi-building col-3" ></i>
              <h3 class="col-7 "><a href="">شركات التداول</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4  m-1">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi-building col-3" ></i>
              <h3 class="col-7 "><a href="">قارن افضل الوسطاء</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4   m-1">
            <div class="icon-box text-center row " data-aos="zoom-in" data-aos-delay="200">
              <i class="bi-newspaper col-3" ></i>
              <h3 class="col-7 "><a href="">الاخبار</a></h3>
            </div>
          </div>
         

          

      </div>
    </section><!-- End Features Section -->

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

{% endblock %}