<!DOCTYPE html>
<html lang="ar" dir="rtl">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>flagedu 4</title>

    <!-- Bootstrap core CSS -->
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lead4.css">
 
<!--

-->
  </head>

<body>


  <div class="second-page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img src="img/logo.png" class="logo-img">
          <h4>ابدأ رحلتك الآن</h4>
          <h2 class="text-co">    <a href="#"> مع فلاجيدو</a>        </h2>
          <p>تعلم كيف تستثمر وكيفية بناء خطة استثمارية مثل الخبراء</p>
          <div class="main-button"><a href="#">ابدأ الآن</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info reservation-info">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <img src="img/rating.gif" class="img-hero">
            <h4>مرجعات شركات الوساطة</h4>
            <a href="#" class="fs-3">23232</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <img src="img/stock.gif" class="img-hero">
            <h4>توصيات الأسهم</h4>
            <a href="#" class="fs-3">34343</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="info-item">
            <img src="img/learning.gif" class="img-hero">
            <h4>مقالات تعليمية</h4>
            <a href="#" class="fs-3">2323</a>
          </div>
        </div>
      </div>
  </div>

  <div class="reservation-form">
    <div class="container">
    <div class="row">
        <img src="img/2.webp" class="img-he m-auto col-lg-6 col-md-6">

        <div class="col-lg-5  col-md-12 col-sm-12 pt-5">
          <form id="reservation-form" name="gs" method="submit" role="search" action="#" class="shadow">
            <div class="row">
              <div class="col-lg-12">
                <h4>ابدأ الآن بالتسجيل  <em>و انضم الي</em> الخبراء </h4>
              </div>
              <div class="col-lg-6">
                  <fieldset>
                      <label for="Name" class="form-label">اسمك</label>
                      <input type="text" name="Name" class="Name" placeholder=" الاسم بالكامل" autocomplete="on" required>
                  </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                    <label for="Number" class="form-label">رقم الهاتف</label>
                    <input type="text" name="Number" class="Number" placeholder="رقم الهاتف " autocomplete="on" required>
                </fieldset>
              </div>
             
              
              <div class="col-lg-12">
                  <fieldset>
                      <label for="chooseDestination" class="form-label">البريد</label>
                      <input name="email" class="email" aria-label="Default select example" onChange="this.form.click()">
                          
                  </fieldset>
              </div>
              <div class="col-lg-12">                        
                  <fieldset>
                    <button class="main-button" id="#send" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >ارسال </button>
                  </fieldset>
              </div>
              </div>




            </div>
          </form>
        </div>
      </div>
    </div>

    
  

    <div id="team.html" class="">
      <div class="container d-flex ">
         <div class="row justify-content-center">
            <h1 class="p-3 m-4 text-center">
         لماذا<a class="text-color"> فلاجيدو    </a> ؟
               </h1>
            <p class="work_text"></p>

            
            <div class="work_section_2 bg-light rounded shadow p-4 m-3 col-lg-3">
               <div class="account_section_left ">
                  <div class="icon_1"><img src="img/idea.png"></div>
               </div>
               <div class="account_section_right ">
                  <h3 class="create_text">الخبرة والتجربة</h3>
                  <p class="lorem_text">يتكون فريقنا من محترفين متمرسين يتمتعون بسنوات من الخبرة في الصناعة المالية. ,</p>
               </div>
            </div>
            <div class="work_section_2 bg-light rounded shadow p-4 m-3  col-lg-3">
               <div class="account_section_left">
                  <div class="icon_1"><img src="img/money-management.png"></div>
               </div>
               <div class="account_section_right">
                  <h3 class="create_text">سهولة الاستخدام</h3>
                  <p class="lorem_text">في فلاجيدو ، نعتقد أن الاستثمار يجب أن يكون في متناول الجميع. لهذا السبب أنشأنا منصة سهلة الاستخدام يسهل التنقل فيها</p>
               </div>
            </div>
            <div class="work_section_2 bg-light rounded shadow p-4 m-3  col-lg-3">
               <div class="account_section_left">
                  <div class="icon_1"><img src="img/charity.png"></div>
               </div>
               <div class="account_section_right">
                  <h3 class="create_text">الشفافية</h3>
                  <p class="lorem_text">نؤمن بالشفافية في كل ما نقوم به. هذا هو السبب في أننا نقدم مراجعات وسيط على الانترنت غير متحيزة </p>
                  
               </div>

              
            </div>
            <div class="read_bt_2 text-center p-3"><a href="#">تعرف علي المزيد</a></div>
            <hr>
         </div>
      </div>
   </div>


   <footer class="bg-light">
    <div class="container bg-light text-center">
      <div class="row">
        <div class="col-lg-12 ">
          <p>Copyright © 2023 <a href="#">flagedu</a> Company. All rights reserved. 
        
        </div>
      </div>
    </div>
  </footer>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-md  modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-body py-0">

        
        <div class="d-block main-content">
          <img src="img/undraw_online_wishes_dlmr.svg" alt="Image" class="img-fluid" style="background-color: #b2fcff;">
          <div class="content-text p-4">
            
            <h3 class="mb-4">تم التسجيل بنجاح</h3>
            <p class="mb-4">قم بدعوة صديقك واحصل علي بونص ترحيبي  لمدة شهر</p>
            <div class="d-flex">

         
              <div class="ml-auto"> 
                <a href="#" class=" main-button px-4 " data-bs-dismiss="modal">لا شكرا</a>
                <a href="#" class="btn btn-info  px-4">دعوة صديق</a>
              </div>
              <!--
              <form id="reservation-form" name="gs" method="submit" role="search" action="#" >
              <fieldset>
                
                  <input name="email" class="email-fr" id="email-frind" aria-label="Default select example" onChange="this.form.click()" placeholder="بريد صديقك">
                      
              </fieldset>
              </form>

              -->
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>



 











   



    



  <!-- Scripts -->
  

  <!-- Bootstrap core JavaScript -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" ></script>
 
 
<script>


</script>
  </body>

</html>
