{% extends 'lp_base.html' %}
{% load static %}

{% block add_css %}
<link href="{% static 'css/leadpage2.css' %} " rel="stylesheet">
{%endblock%}
 {% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html"><img class="img-logo" src="{% static 'img/flagedu-ligo.webp' %}"></a></h1>

      </div>

      

    </div>
  </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-center">
        
       

       


        <div class="col-lg-6 pt-5 col-md-12  pt-lg-0 order-2 order-lg-1 d-flex align-items-center p-3">
          <div data-aos="zoom-out text-center">
            <h1 class="text-color text-center m-2">تعلّم التداول باحتراف </h1> <h2 class="text-color text-center"> مع فلاجيدو  </h2>
           <h2>
              خصّص القليل من وقتك لتعلّم التداول حتى تستفيد من الكثير من الفرص وتدخل الأسواق المحليّة والعالميّة بخطوات مدروسة وواثقة! تداول عن !معرفة لتصل الى أهدافك أسرع
            </h2>

            <a type="button" class="btn btn-info col-5 text-center m-2 ">ابدأ الآن</a>
           
          

          
          </div>
        </div>

 
  <div class="col-lg-6  col-md-12  order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'img/flagedu-scusses.webp' %}" class="img-fluid animated " alt="Flagedu">
        </div>
        
      </div>

    
    </div>

  </section><!-- End Hero -->





  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <img src="{% static 'img/hero-img.png' %}" class="img-about" >

          </div>


         
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center p-5 px-lg-5" data-aos="fade-left">
            <h1 class="text-dark font-weight-bold"> لما عليك اختيار</h1>
            <h1 class="text-color" >  فلاجيدو ؟   </h1>   


            <div class=" col-lg-9 " data-aos="fade-right">

              اتقن استعمال الأدوات وطوّر مهاراتك اللازمة للدخول بخطى سريعة إلى الأسواق المالية العالمية بأساس قوي من المعرفة.
              </div>
           
             
           
            <div class="icon-box  p-3 rounded bg-light shadow" data-aos="zoom-in">
              <div class="icon"><i class="bi-building"></i></div>
              <h4 class="title"><a  class="p-3" href="">الوسطاء</a></h4>
              <p class="description p-3 col-12">  مراجعات شاملة لأفضل شركات التداول  في الوطن العربي والشرق الاوسط والعالم  </p>
            </div>

            <div class="icon-box  p-3 rounded bg-light shadow" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon p-3"><i class="bi-book-fill"></i></div>
              <div calss="">
              <h4 class="title   "><a class="p-3" href="">تعليم </a></h4>
              <p class="description p-3 col-12 ">احصل علي مجموعة متكاملة من المقالات التعلمية والفديوهات التي تحولك من مبتدء الي محترف </p>
            </div>
            </div>

            <div class="icon-box  p-3 rounded bg-light shadow" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="bi-newspaper"></i></div>
              <h4 class="title  "><a  class="p-3" href="">الاخبار</a></h4>
              <p class="description p-3 col-12">  تابع التطورات  والمستجدات الاقتصادية وحركات الاسهم والعملات والسلع والمعادن النفيسة اولًا بأول   </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->










<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5"> 
      <div class="col-lg-6 mb-5 mb-lg-0 text-center text-light" style="z-index: 10">
        <h1> <i class="bi bi-graph-up-arrow text-color-light "></i></h1>
        <h1>  انضم الآن الي الخبراء</h1> 
     <h2 class="text-color-light">  مع فلاجيدو</h2>
     <p>
    تابع أحدث الاخبار في الاسواق المحلية والعالمية أول  بأول </p>
      </div>
       
   

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative d-flex justify-content-center">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-sin shadow">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control "placeholder="الاسم الاول " required>
                   
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" placeholder="الاسم الثاني" required>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" placeholder="البريد الالكتروني" required>
                 
              </div>

          

              <!-- Submit button -->
              <button type="submit" class="btn btn-info btn-block mb-4 ">
              تسجيل الآن
              </button>

              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->



























    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" >
      
          <p>     <i class="bi bi-bookmarks-fill"></i>  نجاح مستخدمينا
            يتكلّم عن نفسه      </p>
        </div>

        <div class="row d-flex justify-content-center" data-aos="fade-left">
          <div class="col-lg-4 col-md-4  m-2">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="50">
         
         
              <p class="fs-5 col-md-12  "><a href=""> 

                "بعد الإطلاع علي مراجعات فلاجيدو، إستطعت أن أجد الوسيط الأنسب لي"

              </a></p>
              <small> حمد رضوان ، السعودية</small>

              <img src="{% static 'img/avatar 3.webp'%}" class="rounded-circle img-thub ">
            </div>
          </div>
          
         

          <div class="col-lg-4 col-md-4  m-2 ">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="50">
              
         
              <p class=" fs-5 col-md-12 "><a href=""> 

                "بعد الإطلاع علي مراجعات فلاجيدو، إستطعت أن أجد الوسيط الأنسب لي"

              </a></p>
              <small> حمد رضوان ، السعودية</small>
              <img src="{% static 'img/avatar 3.webp'%}" class="rounded-circle img-thub ">
            </div>
          </div>
          




          <div class="col-lg-4 col-md-4  m-2">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="50">
            
         
              <p class=" col-md-12 fs-5 "><a href=""> 

                "أصعب خطوة لتحقيق الإستقلال المالي، هي إيجاد الوسيط الأنسب لإمكانياتي. وفلاجيدو هو ما جعل هذه الخطوة سهلة وسريعة"

              </a></p>
              <small> سهيلة السيد سعدون ،الامارات</small>
              <img src="{% static 'img/avatar2.jpg'%}" class="rounded-circle img-thub ">
            </div>
          </div>
          



          <div class="col-lg-4 col-md-4  m-2">
            <div class="icon-box text-center row" data-aos="zoom-in" data-aos-delay="50">
              <p class=" col-md-12 fs-5 "><a href=""> 

                "حاليا، يوجد العديد من منصات التداول الغير آمنة، وكنت علي وشك التعامل مع إحداها. ولكنني إكتشفت أن تلك الشركة ليست كما تدعي ولديها تراخيص ضعيفة للغاية

              </a></p>
              <small> بدر نادر حيدر ، البحرين</small>
              <img src="{% static 'img/avatar.jpg'%}" class="rounded-circle img-thub ">
            </div>
          </div>
          
          

      </div>
    </section><!-- End Features Section -->

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

{%endblock%}