
{% extends 'lp_base.html' %}

{%load static%}
{% block content %}



 
 
  <link href="{% static 'css/thank3.css'%}" rel="stylesheet">

  <body class="d-flex h-100 text-center  back1">
  

    
    <div class="cover-container2 d-flex w-100 h-100 p-5 mx-auto flex-column">
    
        
      <main>
        <div class="container  text-light ">
        
      
          <div class="p-5 mb-4  rounded-3 text-center shadow bg-card-thanks  ">
            <div class="container-fluid py-5">
              <div class="">
                <h1><a href="flagedu.com"><img class=" logo-thank3" src="{% static 'img/flagedu-ligo.webp'%}"></a></h1>
             
              
              </div>
              <h1 class="display-5 fw-bold">شكرا لك </h1>
              <img class=" logo-thank4" src="{% static 'img/true.gif'%}">
              <p class=" fs-4 text-center">    تم تسجيل الدخول بنجاح انت الان ضمن مجتمع فلاجيدو</p>
             <a href="https://flagedu.com" class="btn btn-outline-light btn-lightcover btn-sm m-4 fs-3" type="button">   الصفحة الرئيسية    </a >  
           
             
            </div>
            
          </div>
      
          <div class="row align-items-md-stretch">
       
            
          </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
    <footer class="mt-auto text-dark-50">
      <p>جميع الحقوق محفوظة  <a href="https://flagedu.com" class="">flagedu.com</a></p>
    </footer>


  













{% endblock content %}