
{% extends 'lp_base.html' %}

{%load static%}
{% block content %}



 
 
  <link href="{% static 'css/thank2.css'%}" rel="stylesheet">



  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="flagedu.com"><img class="img-logo" src="{% static 'img/flagedu-ligo.webp'%}"></a></h1>

      </div>

      

    </div>
  </header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="thank-2">

    <div class="container pt-4">
      <div class="row justify-content-right">
        
       

        <div class=" col-lg-6 pt-5 col-md-12  pt-lg-0 order-2 order-lg-1  p-3 text-center order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'img/1.webp'%}" class="img-fluid animated" alt="Flagedu">
        </div>
       


          <div class="col-lg-6 pt-5 col-md-12  pt-lg-0 order-2 order-lg-1  p-3 text-center">
          <div data-aos="zoom-out">

           
           
            <h1><a href="flagedu.com"><img class="img-logo2" src="{% static 'img/flagedu-ligo.webp'%}"></a></h1>
            <p class="text-flagedu p-5 fs-1">
              نود أن نشكرك على التسجيل في موقعنا
            </p>
            <h4 class="text-color">
              نحن متحمسون لمساعدتك على تحقيق أهدافك الاستثمارية
            </h4>

            <h2 type="button" class="btn btn-info col-5 m-3 text-color shadow "> الصفحة الرئيسية</h2>
           </div></div>


    
    </div>

  </section><!-- End Hero -->


  













{% endblock content %}